/*INDEX*/

/*Con este "header", cambiamos el color y el alto de nuestra cabecera*/
header{
    height: 50px;
    color: #ffffff;
}
/*Otorga las propiedades del alto y los márgenes a el logo el header*/
.logo1{
    height: 15%;
    margin-top: -30px;
    margin-left: -120px;
}
/*Damos color y altura al "nav"*/
.nav{
    background-color: #3C3C3C;   
    height: 120px; 
}
/*Otorgamos las propiedades al logo del nav*/
.logo2{
    width: 250px;
    height: 250px;
    margin-top: auto
    ;
}
/*Con el hover hacemos que cuando se pase por encima el ratón no le salga ninguna decoración y siga con el color blanco*/
nav div ul li a p:hover{
    text-decoration: none;
    color: #9C9C9C;
}

nav div ul li a p{
    color: white;
    font-family: formula1basic;
}

.blanco{
    color: white;
}
/*Otorgamos las propiedades del tipo de fuente, tamaño, padding,etc a nuestro menú*/
nav div ul li p{
    font-family: Arial;
    font-size: 20px;    
    text-decoration: none;
    float: left;
    padding: 10px;
    color: #fff;
    list-style-type: none;
    padding: 30px;
    text-align: center;
    
}
/*Damos propiedades a nuestro primer botón*/
.isesion{
    margin-top: 10px;
    border-radius: 7px;
    color: white;
    background-color: black;
    border-color: black;
    padding: 2px;
    width: 90%;
    font-family: formula1basic;

}
/*Al pulsar el botón 1 el fondo se vuelve gris*/
.isesion:hover{
    background-color: #323232;
}
/*Al igual que antes pero con el segundo b*/
.imglogin{
    height: 22px;
    width: auto;
    margin-right: -7px;
    margin-top: -2px;
    margin-left: -5px;
}
/*Damos colores a nuesto botón*/
.imgsub{
    margin-top: 10px;
    border-radius: 6px;
    color: white;
    background-color: black;
    padding: 2px;
    width: 120%;
    font-family: formula1basic;
    margin-left: -40px;
    background-color: #3C3C3C;
    color: white;
    border-color: #3C3C3C;
    transition: 0.3s;
}
/*Cambiamos los colores al pulsarse*/
.imgsub:hover{
    background-color: #fff;
    color: #3C3C3C;
    font-family:formula1basic;
    font-weight: bold;
    overflow: hidden;
}
/*Con este hacemos que cuando nuestra imagen se salga del nuestro límite no se vea*/
.marcoFoto {
    overflow:hidden;
    }
/*Configuramos el tiempo que queremos que tarde en aumentarse la img*/
.marcoFoto img {
    transition: all .4s ease;
    width:100%;
    }
/*Al pulsar la img hacemos que se tranforme a 1.1*/
.marcoFoto img:hover {
    transform:scale(1.1);
}

/*Configuramos nuestro borde grande*/
.borde{
    border:solid;
    padding: 15px;
    border-radius: 30px;
    border-left: 0px;
    border-top-left-radius: 1px;
    border-color: #3C3C3C;
    border-width: 10px;
    border-bottom: 0px;
    border-bottom-right-radius:0px ;
    
}
/*Configurmaos los bordes pequeños*/
.bordemini{
    border: solid;
    border-top: 0px;
    border-left: 0px;
    border-bottom-right-radius: 20px;
    border-color: gray;
    opacity: 60%;
    margin-bottom: 10px;
}
/*Configuramos el borde pequeño al ser selccionado*/
.bordemini:hover{
    border-color: #3C3C3C;
    opacity: 100%;
}
/*todo lo sobrante de nuestros div de img se elimina*/
.overflowimg{
    overflow: hidden;
}
/*Características de nuestro texto 1*/
.text1{
    margin-bottom: 20px;
    font-family: formula1;
    font-size: xx-large;
    color: black;
}
/*Caracterísitcas de nuestros texto pequeños de color rojo*/
.seccion{
    color: #3C3C3C;
    font:110% monospace;
    margin-bottom: -9px;
    margin-top: 10px;
}
/*Link de text1*/
.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    color: black;
}
/*Link de texto2*/
.link2{
    color: black;
}

.link2:hover{
    color: black;
    text-decoration: none;
}


/*CSS de los grandes premios PAGINA 1*/


section div{
    height: 70px;
    width: 40px;

}

section div img{
    height: 50%;
    border-radius: 6px;
}

.fondoh{
    background-color: #3C3C3C;
}

.calendario{
    width: 50%;
    padding-top: 50px;
    display: block;
    margin: auto;
}

.fondocalen{
    background-color: #3C3C3C;
}

.bordecal{
    border: solid;
    border-color: #fff;
    border-width: 2px;
    border-top: 0px;
    border-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 13px;
    border-bottom-right-radius: 6px;

}

.altura{
    height: 400px;


}

.h1calen {
    font-family: fantasy;
    text-align: center;
    color: #ffffff;
}

.pcalen{
    font-family:formula1basic;
    text-align: center;
    color: #9B9B9B;
    font-size: 80%;
}

.pcalen2{
    font-family:formula1basic;
    text-align: center;
    color: #9B9B9B;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -4px;
}

.podiopg1{
    color: #9B9B9B;
}

a:link, a:visited, a:active{
    text-decoration: none;
}


table{
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
}

table tr td{
    padding: 10px;
}

table tr{
    border-style: solid;
    border-color: grey;
}

.hola{
    border-radius: 6px
}

.tablaclasi{
    vertical-align: middle;
}

/*FOOTER*/

.c1{
    font-family: formula1;
}

.c2{
    font-family: formula1basic;
}

.c3{
    font-family: formula1;
}

.c4{
    font-family: formula1basic;
}

.c5{
    font-family: formula1;
    margin-top: 15px;
    border: solid;
    border-color: #DBDBDB;
    width: 80px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    width: 80%;
}

.borderclasi:hover{
    background-color: #3C3C3C;
    transition: all .4s ease;
    color: #fff;
}

.footer{
    height: 300px;
    width: auto;
    background-color: #3C3C3C;
}

.h4footer{
    color: #ffffff;
    font-family: formula1;
    margin-top: 10px;
    text-justify: none;
    width: 300px;
    padding: 20px;
}

table tr td img{
    width: 30px;
}

.flink{
    font-family: formula1;
    text-decoration: none;
    color: #ffffff;
}


.flink:link {
    font-family: formula1;
    text-decoration: none;
    color: #ffffff;
}

.flink:visited{
    font-family: formula1;
    text-decoration: none;
    color: #fff;
}

.flink:active{
    font-family: formula1;
    text-decoration: none;
    color: #ffffff;
}

.ftable{
    margin-top: -10px;
    border-style: none;
    border-color: #3C3C3C;
}

.copy{
    color: #ffffff;
    margin-top: -130px;
}
/*FUENTES*/
@font-face {
    font-family: formula1;
    src: url(../Fuentes/Formula1-Bold.ttf);

}

@font-face{
    font-family: formula1basic;
    src: url(../Fuentes/Formula1-Regular.ttf);
}

/*IndexCalendario*/

/*MAIN*/
.calendario2{
    font-family: formula1;
    border: solid black;
    border-top: 0px;
    border-left: 0px;
    border-width: 5px;
    border-right: 0px;
}

.move{
    text-align: center;
    animation-name: calendario2;
    animation-duration: 4s;
    animation-delay: -2s;
}

@keyframes calendario2 {
    0%   {left:0px; top:0px;}
    25%  {left:500px; top:0px;}
    50%  {left:900px; top:000px;}
    75%  {left:0px; top:0px;}
    100% {left:0px; top:0px;}
  }


.bordecalendario{
    border: solid black;
    border-bottom: 0px;
    border-left: 0px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pcalendario{
    font-family: formula1;
    color: #3C3C3C;
    opacity: 80%;

}

.fechacalendario{
    font-family: formula1;
    font-size: 150%;
    padding: 2px;
    margin-top: -20px;
    margin-bottom: -2px;
}

.mesescalendario{
    font-family: formula1;
    color: #fff;
    border: solid black;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    background-color: black;
}

