/*Header*/

header{
    height: 70px;
}

.logo1{
    height: 120px;
    margin-top: -27px;
}

.boton1{
    background-color: #000000;
    margin-top: 15px;
    border-color: #000000;
    text-decoration: none;
    border-radius: 6px;
    height: 35px;
    text-align: center;
}

.boton1:hover{
    background-color: #3C3C3C;
    transition: all .4s ease;
    transform:scale(1.1);
}

.boton1img{
    height: 20px;
    text-decoration: none;
}

.boton1txt:link, .boton1txt:visited, .boton1txt::after {
    color: #ffffff;
    text-decoration: none;
    font-family: formula1basic;
}

.boton2{
    background-color: #000000;
    margin-top: 15px;
    border-color: #000000;
    text-decoration: none;
    border-radius: 6px;
    height: 35px;
    text-align: center;
}

.boton2:hover{
    background-color: #ffffff;
    transition: all .4s ease;
    color: #000;;
}

.boton2txt:link, .boton2txt:visited, .boton2txt::after {
    color: #ffffff;
    text-decoration: none;
    font-family: formula1basic;
}

.boton2txt:hover{
    color: #000000;
}


/*NAV*/

.logo2{
    width: 85%;
}

li{
    font-family: formula1basic;
    padding: 10px;
}

/*FOOTER*/

h4{
    color: #fff;
    font-family: formula1;
}

.copy{
    color: #fff;
}

.dimensiones{
    margin-top: 20px;
}

.ftable{
    margin-top: -10px;
    border-style: none;
    border-color: #3C3C3C;
}

.flink{
    font-family: formula1;
    text-decoration: none;
    color: #ffffff;
}


.flink:link, .flink:active, .flink:visited {
    font-family: formula1;
    text-decoration: none;
    color: #ffffff;
}

table tr td img{
    width: 50px;
    padding: 10px;
}

/*Registrarse*/

.degradado{
    background-image: linear-gradient(to bottom right, #000000, #3C3C3C);
    height: 350px;
}

.boxd{
    margin-top: 30px;
}

.iniciars{
    color: #ffffff;
    font-family: formula1;
}


/*FUENTES*/
@font-face {
    font-family: formula1;
    src: url(./Fuentes/Formula1-Bold.ttf);

}

@font-face{
    font-family: formula1basic;
    src: url(./Fuentes/Formula1-Regular.ttf);
}

/*Tienda*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
  
.price {
    color: grey;
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.letra button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
}

.letra button:hover {
    opacity: 0.7;
}
  
.card button:hover {
    opacity: 0.7;
}

.escudos{
    height: 5%;
}

.escudos:hover{
    transition: all .4s ease;
    transform:scale(1.1);
}

.escudosalfa{
    height: 5%;
    margin-left: -20px;
}

.escudosalfa:hover{
    transition: all .4s ease;
    transform:scale(1.1);
}

.altura{
    height: 100px;
}

.letra{
    font-family: formula1basic;
}

.pad{
    padding: 10px;
}