/*Header*/

header{
    height: 70px;
}

.logo1{
    height: 120px;
    margin-top: -27px;
}

.boton1{
    background-color: #000000;
    margin-top: 15px;
    border-color: #000000;
    text-decoration: none;
    border-radius: 6px;
    height: 35px;
    text-align: center;
}

.boton1:hover{
    background-color: #3C3C3C;
    transition: all .4s ease;
    transform:scale(1.1);
}

.boton1img{
    height: 20px;
    text-decoration: none;
}

.boton1txt:link, .boton1txt:visited, .boton1txt::after {
    color: #ffffff;
    text-decoration: none;
    font-family: formula1basic;
}

.boton2{
    background-color: #000000;
    margin-top: 15px;
    border-color: #000000;
    text-decoration: none;
    border-radius: 6px;
    height: 35px;
    text-align: center;
}

.boton2:hover{
    background-color: #ffffff;
    transition: all .4s ease;
    color: #000;;
}

.boton2txt:link, .boton2txt:visited, .boton2txt::after {
    color: #ffffff;
    text-decoration: none;
    font-family: formula1basic;
}

.boton2txt:hover{
    color: #000000;
}


/*NAV*/

.logo2{
    width: 85%;
}

li{
    font-family: formula1basic;
    padding: 10px;
}

/*FOOTER*/

h4{
    color: #fff;
    font-family: formula1;
}

.copy{
    color: #fff;
}

.dimensiones{
    margin-top: 20px;
}

.ftable{
    margin-top: -10px;
    border-style: none;
    border-color: #3C3C3C;
}

.flink{
    font-family: formula1;
    text-decoration: none;
    color: #ffffff;
}


.flink:link, .flink:active, .flink:visited {
    font-family: formula1;
    text-decoration: none;
    color: #ffffff;
}

table tr td img{
    width: 50px;
    padding: 10px;
}

/*FORMULARIO DEL FOOTER*/

.box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #fff;
}
.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffff;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}

/*Registrarse*/

.degradado{
    background-image: linear-gradient(to bottom right, #000000, #3C3C3C);
    height: 350px;
}

.boxd{
    margin-top: 30px;
}

.iniciars{
    color: #ffffff;
    font-family: formula1;
}


/*FUENTES*/
@font-face {
    font-family: formula1;
    src: url(./Fuentes/Formula1-Bold.ttf);

}

@font-face{
    font-family: formula1basic;
    src: url(./Fuentes/Formula1-Regular.ttf);
}


/*CALENDARIO*/

section h1{
    font-family: formula1;
    font-size: 70px;
    border: solid #000000;
    border-bottom: 0px;
    border-left: 0px;
    border-top-right-radius: 40px;
    border-width: 10px;
}

/*CALENDARIO*/

.t1{
    color: #FF0000;
    font-family: formula1basic;
}

.img1{
    width: 370px;
    
}

.img2{
    height: 200px;
    width: 370px;
}

.t2{
    font-size: 180%;
    font-family: formula1;
    margin-top: -15px;
}

.t3{
    font-size: 140%;
    font-family: formula1basic;
    margin-top: -10px;
    color: #000000;
}

.t4{
    font-family: formula1basic;
}

.b{
    border: solid;
    border-width: 4px;
    padding: 10px;
    border-top-right-radius: 20px;
    border-left: 0px;
    border-bottom: 0px;
    opacity: 90%;
    margin-left: 30px;
    margin-top: 50px;
}

.b:hover{
    opacity: 100%;

}
