/*Header*/

header{
    height: 70px;
}

.logo1{
    height: 120px;
    margin-top: -27px;
}

.boton1{
    background-color: #000000;
    margin-top: 15px;
    border-color: #000000;
    text-decoration: none;
    border-radius: 6px;
    height: 35px;
    text-align: center;
}

.boton1:hover{
    background-color: #3C3C3C;
    transition: all .4s ease;
    transform:scale(1.1);
}

.boton1img{
    height: 20px;
    text-decoration: none;
}

.boton1txt:link, .boton1txt:visited, .boton1txt::after {
    color: #ffffff;
    text-decoration: none;
    font-family: formula1basic;
}

.boton2{
    background-color: #000000;
    margin-top: 15px;
    border-color: #000000;
    text-decoration: none;
    border-radius: 6px;
    height: 35px;
    text-align: center;
}

.boton2:hover{
    background-color: #ffffff;
    transition: all .4s ease;
    color: #000;;
}

.boton2txt:link, .boton2txt:visited, .boton2txt::after {
    color: #ffffff;
    text-decoration: none;
    font-family: formula1basic;
}

.boton2txt:hover{
    color: #000000;
}


/*NAV*/

.logo2{
    width: 85%;
}

li{
    font-family: formula1basic;
    padding: 10px;
}

/*SECCIÓN NOTICIAS*/

.div1{
    overflow:hidden;
    border:solid;
    padding: 15px;
    border-radius: 30px;
    border-left: 0px;
    border-top-left-radius: 1px;
    border-color: #3C3C3C;
    border-width: 10px;
    border-bottom: 0px;
    border-bottom-right-radius:0px;
    margin-left: 15px;
}

.div1 img{
    transition: all .4s ease;
    width:100%;
}

.div1 img:hover{
    transform:scale(1.1);
    
}

.texto1:link, .texto1::after, .texto1:visited{
    color: #000000;
    text-decoration: line;
    font-family: formula1basic;
    
}

section p{
    color: #DE1010;
}

.dimensionesimg{

}

.div2{
    overflow:hidden;

}

.div2 img{
    transition: all .4s ease;
    width:100%;
    
}

.div2 img:hover{
    transform:scale(1.1);
    
}

.bordemini{
    border: solid black;
    border-top: 0px;
    border-left: 0px;
    margin-top: 10px;
    border-radius: 16px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: black;
}

.texto2:link, .texto2::after, .texto2:visited{
    color: #000000;
    text-decoration: line;
    font-family: formula1basic;
    
}

.div3{
    overflow:hidden;
    padding: 15px;
    margin-left: 15px;
    float: right;
}

.div3 img{
    transition: all .4s ease;
    width:100%;
    
}

.div3 img:hover{
    transform:scale(1.1);
    
}

.margin{
    margin-bottom: 15px;
}

/*Calendario Página Principal*/

.bordecal{
    border: solid;
    border-color: #fff;
    border-width: 2px;
    border-top: 0px;
    border-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 13px;
    border-bottom-right-radius: 6px;
}

.altura{
    height: 400px;
}

.imgcalen{
    width: 50%;
    padding-top: 50px;
    display: block;
    margin: auto;
}

.pcalen{
    font-family:formula1basic;
    text-align: center;
    color: #9B9B9B;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -4px;
}

.pcalen2{
    font-family:formula1basic;
    text-align: center;
    color: #9B9B9B;
    font-size: 80%;
}

.h1calen{
    font-family: fantasy;
    text-align: center;
    color: #ffffff;
}

.podiopg1{
    color: #9B9B9B;
}


/*FOOTER*/

h4{
    color: #fff;
    font-family: formula1;
}

.copy{
    color: #fff;
}

/*FUENTES*/
@font-face {
    font-family: formula1;
    src: url(../Fuentes/Formula1-Bold.ttf);

}

@font-face{
    font-family: formula1basic;
    src: url(../Fuentes/Formula1-Regular.ttf);
}